
<div class="main-content">
  <div class="welcome-container">
    <div class="welcome-bg-text">
      WELCOME.
    </div>
    <div class="welcome-overlay">
      <div class="welcome-text">
        Here there should be some text that introduces me and the page.
      </div>
    </div>
  </div>
  <div class="middle-picture">
    <div class="image-one">
      <img alt="img-one" src="../assets/images/graduation-speech.jpeg">
    </div>
    <div class="middle-overlay">
      <div class="middle-text">
        The main info.
      </div>
    </div>
  </div>
  <div class="image-two">
    <img alt="muzikale-avond" src="../assets/images/muzikale-avond-bw.jpg">
    <div class="muzikale-overlay">
      <div class="muzikale-text">
        Here there should be another picture, maybe with a guitar
      </div>
    </div>
  </div>

  <div class="button-container">
      <img alt=floral src="../assets/images/floral-inverted-2.jpg">
      
  </div>



  <div class="bye-container">
    <div class="bye-bg-text">
      GOODBYE.
    </div>
    <div class="bye-overlay">
      <div class="bye-text">
        Some text and maybe some links byeee.
      </div>
    </div>
  </div>



  <span class="footer">

  </span>
</div>
