.main-content{
  background-image: linear-gradient(#FFF5E2, black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px 300px auto;
  grid-gap: 4px;
  grid-template-areas:
  "welcome-text middle-picture edu-container"
  "image-two middle-picture software"
  "panel-work panel-work software"
  "links ling-pic ling-pic"
  "footer footer footer"
}

.work-container{
  background-image: url("../../assets/images/work.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  grid-area: panel-work;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "button-one button-two"
  "button-three button-four"
}

.work-button-one{
  grid-area: button-one;
}
.work-button-two{
  grid-area: button-two;
}
.work-button-three{
  grid-area: button-three;
}
.work-button-four{
  grid-area: button-four;
}
.orange-container{
  position: relative;
  display: block;
  background-color: #FFC964;
  color: black;
}
#welcome-c{
  grid-area: welcome-text;
}
#software-c{
  grid-area: software;
}
#links-c{
  grid-area: links;
}
#linguistics-c{
  grid-area: ling-pic;
}

.bye-container{
  position: relative;
  display: block;
  background-color: #FFC964;
  color: black;
  grid-area: bye-text;
}

.black-text{
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  color: #FFC964;
}

#button-1{
  opacity: .9 !important;
}
#button-2{
  opacity: .9 !important;
}
#button-3{
  opacity: .9 !important;
}
#button-4{
  opacity: .9 !important;
}

#welcome-c:hover #welcome-o{
  opacity: .9 !important;
}

.middle-picture:hover #middle-o{
  opacity: .9 !important;
}

.image-two:hover #muzikale-o{
  opacity: .9 !important;
}

#software-c:hover #software-o{
  opacity: .9 !important;
}

.edu-container:hover #edu-o{
  opacity: .9 !important;
}

#links-c:hover #bye-o{
  opacity: .9 !important;
}
#linguistics-c:hover #ling-o{
  opacity: .9 !important;
}
.image-two{
  background-image: url("../../assets/images/muzikale-avond.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  background-color: #ababab;
  grid-area: image-two;
}

.orange-text{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFC964;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}



.edu-container{
  display: block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/floral-2.jpg");
  background-position: center;
  grid-area: edu-container;
}

.middle-picture{
  display: block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/profile-forest-bg-black.jpg");
  background-position: center;
  grid-area: middle-picture;
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas:
  "software-list"
  "java-traineeship";
}

.middle-picture-text{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #FFC964;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.software-list{
  grid-area: software-list;
}
.java-traineeship{
  grid-area: java-traineeship;
}

.list-title{
  margin-top: 16px;
  margin-bottom: 16px;
  list-style-type: none;
  font-weight: bold;
  text-align: center;
}

ul{
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
}
li {
  margin-left: 5px;
  margin-bottom: 3px;
}

.cv-text{
  padding: 10px;
  text-align: justify;
}

.first-col{
  width: 90px;
}
.uu{
  width:auto;
}

.welcome-container p{
  margin: 12px;
}

.fa{
  padding: 20px;
  font-size: 56px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.btn-group .btn {
  margin: 14px;
  cursor: pointer; /* Pointer/hand icon */
  display: inline-block; /* Make the buttons appear below each other */
  background-color: black;
  color: #FFC964;
  border-radius: 1px;
  border-color: #FFC964;
}

.cv-text-icon{
  display: block;
  position: relative;
  text-align: center;
}

.btn-group{
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: auto;
  -ms-transform: translateY(50%);
  transform: translateY(60%);
}

.footer{
  display: block;
  height: 250px; /* fade to backgroundcolour */
  grid-area: footer;
}

.fa{
  color: #FFC964;
}

.content-title {
  position: relative;
  font-weight: bold;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  border-color: #FFC964;
  padding: 14px 16px;
  margin: 10px 10px;
  background-color: #FFF5E2;
}

.content-title:hover{
  background-color: #D7A545;
}

.lingo-container{
  position: relative;
  background-image: url("../../assets/images/linguistics.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
