
<div class="main-content">
  <div class="welcome-container">
    <div class="welcome-bg-text">
      WELCOME.
    </div>
    <div class="welcome-overlay" id="welcome-o">
      <div class="cv-text" id="welcome-t">
        <p>On this page you will find information about me, Dylan Bonga.
        </p>
        <p>In the middle panel you can
          observe my experience with programming, as well as all topics I learned about in the Java Traineeship
          provided by Young Capital NEXT. On the right you will find more information about my university career,
          below that my LinkedIn and my CV. On the panel below this one, a brief summary of the things I spend my
          free time on.
        </p>
        <p>Finally, below the panels you see a chronological overview of my previous work experience.
          To see a brief summary, simply click the buttons.
        <p>
          By clicking the CV-MODE button in the top right corner, you can see all information at once.
        </p>
      </div>
    </div>
  </div>

  <div class="middle-picture">
    <div class="middle-picture-text">
      ME.
    </div>
    <div class="middle-overlay" id="middle-o">
      <div class="cv-text">
        <div class="software-list">
          <div class="list-title">Software</div>
          <ul>
            <li>Java SE8</li>
            <li>Scrum</li>
            <li>Python</li>
            <li>R Studio</li>
            <li>LaTeX</li>
          </ul>
        </div>

        <div class="java-traineeship">
          <div class="list-title">Topics studied in Java Traineeship</div>
          <ul>
            <li>HTML5 and CSS3</li>
            <li>GIT</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>AJAX</li>
            <li>REST</li>
            <li>HTTP</li>
            <li>UML and design</li>
            <li>Databases and SQL</li>
            <li>Spring Data</li>
            <li>TDD + Unit testing</li>
            <li>Continuous Integration with Jenkins</li>
            <li>Deployment on server (digitalOcean, Heroku)</li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="image-two">
    <div class="image-two-text">
      HOBBIES.
    </div>
    <div class="muzikale-overlay" id="muzikale-o">
      <div class="cv-text">
        I spend my free time writing music and comedy sketches, being part of a cabaret duo.
        Further, I enjoy drawing and painting, and going on city trips and cooking. Additionally,
        I like to pick up personal programming projects.
      </div>
    </div>
  </div>

  <div class="button-container">
    <div class="button-text">
      EDUCATION.
    </div>
    <div class="button-overlay" id="button-o">
      <div class="cv-text">
        <table>
          <tr>
            <td class="first-col">2017-2019</td>
            <td class="uu">Utrecht University</td>
          </tr>
          <tr>
            <td class="r-al">Master of Arts: </td>
            <td>Linguistics (research)</td>
          </tr>
          <tr>
            <td class="r-al">Thesis title:</td>
            <td> Cyberspatial Semantics: The behaviour of prepositions in software development forums</td>
          </tr>
          <tr>
            <td class="r-al">Main focus: </td>
            <td>Computational Linguistics</td>
          </tr>
          <tr><br></tr>
          <tr>
            <td>2013-2017</td>
            <td class="uu">Utrecht University</td>
          </tr>
          <tr>
            <td class="r-al">Bachelor of Arts:</td>
            <td>Dutch Language and Culture</td>
          </tr>
          <tr>
            <td class="r-al">Thesis title:</td>
            <td>Dat ik gisteren 'm heb gezien: sterke en zwakke pronomina in scrambling</td>
          </tr>
          <tr>
            <td class="r-al">Minor:</td>
            <td> General Linguistics</td>
          </tr>
        </table>

      </div>
    </div>
  </div>

  <div class="bye-container">
    <div class="bye-bg-text">
      LINKS.
    </div>
    <div class="bye-overlay" id="bye-o">
      <div class="cv-text-icon">
        <div class="btn-group">
          <a href="https://www.linkedin.com/in/d-bonga/" target="_blank">
            <button class="btn">
              <i class="fa fa-linkedin-square"></i>
            </button>
          </a>
          <a>
            <button class="btn">
              <i class="fa fa-download"></i>
            </button>
          </a>
          <a routerLink="/contact">
            <button class="btn">
              <i class="fa fa-inbox"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <span class="footer">
    <timeline></timeline>
  </span>



</div>
